body {
  margin: 0;
  width: 100vh;
  height: 100vh;
  background-color: rgba(99, 226, 251, 0.734);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oscuro{
  background-color: black;
  color: white;
}